@font-face {
    font-family: skyFall;
    src: url('../fonts/SkyFall.ttf') format('truetype');
}

html {
    background: #000000;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    font-family: 'skyFall', 'Arial', sans-serif;
    color: white;
}

#instructions {
    position: absolute;
    bottom: 0;
    right: 0;
}

canvas {
    /*display: none;*/
    top: 0;
    left: 0;
    z-index: 2;
}
